<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="motionlogger.jennychen.com.represent">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".results" />
        <activity android:name=".zipresults" />
        <activity android:name=".detail" />

        <service
            android:name=".PhoneToWatchService"
            ></service>

        <service
            android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="112d4ba068c4a4e961fb332420f7e20a0df4b7ae" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZhPfE0vCaCTYrB3_gvCp05BQiWY0_QDc"/>

    </application>

</manifest>
